<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=user.name %> 👋</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-zinc-900 text-white  p-2">
    <div class="flex justify-between">
        <div class="flex m-5 justify-center items-center">
            <!-- profilepic -->
            <div class="w-10 h-10 bg-transparent rounded-md overflow-hidden">
                <a href="/setdp"><img src="/img/uploads/<%=user.profilepic%>" alt="profilepic"></a>

            </div>
            <h1 class=" ml-3 text-3xl"> <span class="font-light text-zinc-400 animate-pulse ">Hello, </span>
                <%=user.name %> 👋
            </h1>
        </div>


        <a class="text-sm  mt-0 ml-1  rounded-md  p-1 h-6 hover:bg-red-600 hover:scale-110 text-white bg-red-600 hover:text-blue-500"
            href="/Logout"> Logout</a>
    </div>

    <hr class="border-zinc-800 border-2 hover:border-blue-800 hover:cursor-pointer transition duration-300 rounded-xl">

    <h4 class="text-md m-1 p2">
        <%= user.name %>, you can create a new post
    </h4>
    <div class="flex flex-col mx-2 my-2 justify-center items-center">
        <form class="flex flex-col justify-center items-center" method="post" action="/post">
            <textarea
                class=" md:w-[60vw] w-screen  text-sm md:text-xl h-[20vh] mx-3 my-2 p-1 resize-none bg-transparent border-2 hover:border-blue-500 outline-none rounded-lg"
                name="content" placeholder="What's in your Mind?"></textarea>

            <input class="px-3 py-3 bg-blue-500 hover:bg-blue-800 w-150 rounded-md transition duration-300"
                type="submit">
        </form>
    </div>

    <div class="post mt-10 flex justify-between ">
        <h3 class="text-zinc-400 text-5xl mb-8 ml-5">Your's posts...</h3>
            <a href="/feed" class="bg-blue-500 mr-56 h-10 rounded-xl p-2 animate-pulse hover:bg-blue-600">Go to feeds</a>
    </div>

    <div class="postcontainer w-screen  flex flex-row flex-wrap justify-center items-center gap-4">
        <% user.posts.reverse().forEach( (post)=> { %>
            <div
                class="post w-70 md:w-1/3 md:text-lg text-md rounded-lg bg-zinc-800 mt-1 mb-3 p-3 border-[1px] border-zinc-700">
                <div class="flex flex-row  justify-between">
                    <h4 class="p-1 text-blue-500 text-md hover:cursor-pointer hover:scale-105 transition duration-500">
                        @<%= user.username%>
                    </h4>

                    <a class="text-zinc-500 text-sm ml-6 hover:cursor-pointer hover:text-blue-800"
                        href="/delete/<%= post._id %>">

                        <?xml version="1.0" encoding="iso-8859-1"?>
                        <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                        <svg height="28px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                            <path style="fill:#2D527C;" d="M334.885,98.803c-1.182,0-2.381-0.142-3.579-0.439c-7.951-1.97-12.801-10.013-10.83-17.965
	l5.66-22.846l-99.892-24.752l-5.662,22.846c-1.97,7.951-10.021,12.801-17.965,10.83c-7.951-1.97-12.801-10.014-10.83-17.965
	l9.229-37.244c1.97-7.952,10.02-12.8,17.965-10.83L347.67,32.325c3.818,0.946,7.105,3.369,9.136,6.739
	c2.031,3.37,2.64,7.408,1.694,11.226l-9.229,37.245C347.597,94.288,341.542,98.803,334.885,98.803z" />
                            <g>
                                <polygon style="fill:#CEE8FA;"
                                    points="177.957,497.166 111.947,497.166 85.536,153.586 177.957,153.586 	" />
                                <polygon style="fill:#CEE8FA;"
                                    points="361.805,497.166 295.795,497.166 295.795,153.586 388.217,153.586 	" />
                            </g>
                            <path style="fill:#2D527C;" d="M445.095,146.789L74.039,54.848c-7.945-1.971-15.995,2.876-17.965,10.83
	c-1.971,7.952,2.878,15.995,10.83,17.965l222.414,55.11h-111.36h-6.349H85.535c-4.131,0-8.075,1.724-10.883,4.754
	c-2.808,3.032-4.223,7.096-3.907,11.217l26.412,343.581c0.593,7.728,7.038,13.696,14.79,13.696h66.011h46.21
	c8.191,0,14.833-6.642,14.833-14.833c0-8.191-6.642-14.833-14.833-14.833h-31.377V168.419h88.169v328.747
	c0,8.191,6.642,14.833,14.833,14.833h66.01c7.752,0,14.196-5.967,14.79-13.696l25.491-331.609l35.874,8.89
	c1.199,0.297,2.397,0.439,3.579,0.439c6.657,0,12.712-4.515,14.385-11.269C457.897,156.802,453.048,148.759,445.095,146.789z
	 M101.552,168.419h61.573v313.914h-37.442L101.552,168.419z M348.068,482.333h-37.439V168.419H372.2L348.068,482.333z" />
                        </svg>

                    </a>
                </div>
                <p class="text-sm tracking-tight">
                    <%= post.content%>
                </p>

                <div class="likeedit-date flex flex-row justify-between">
                    <div class=" mt-5">
                        <small class="text-blue-400">
                            <%= post.likes.length %> Likes
                        </small>
                        <a class="text-blue-500 text-sm  hover:cursor-pointer hover:text-blue-800"
                            href="profile/like/<%= post._id %>">
                            <%= post.likes.indexOf(user._id) ? "Like" : "Unlike" %>
                        </a>
                        <a class="text-zinc-500 text-sm ml-6 hover:cursor-pointer hover:text-blue-800"
                            href="/edit/<%= post._id %>">edit</a>
                    </div>
                    <h6 class="text-zinc-500 text-sm mt-6 mr-3">
                        <%= new Date(post.date).toLocaleDateString('en-US', { year: 'numeric' , month: 'long' ,
                            day: 'numeric',    hour: '2-digit',
                            minute: '2-digit',
                            second: '2-digit',
                            hour12: true }) %>
                    </h6>
                </div>
            </div>
            <% }) %>
    </div>












</body>

</html>